.total {
    padding: 30px;
}
.ex1e2 {
    background-color: aquamarine;
    padding: 30px;
    max-width: 60%;
}
.margin {
    margin: auto;
    border-radius: 10px;
}
.ex8 {
    text-align: center;
}